<form
  class="form flex flex-col space-y-5 md:w-[500px] mx-auto md:px-0 px-5"
  [formGroup]="pageForm"
  (ngSubmit)="onSubmit()"
>
  <div>
    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      name="password"
      class="mb-2"
    />
    <portfolio-error-validation-mesasage
      [control]="password"
      name="Password"
    ></portfolio-error-validation-mesasage>
  </div>

  <div>
    <input
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirme Password"
      name="confirmedPassword"
      class="mb-2"
    />
    <portfolio-error-validation-mesasage
      *ngIf="confirmPassword?.touched && pageForm?.hasError('match_password')"
      [control]="pageForm"
    ></portfolio-error-validation-mesasage>
  </div>

  <portfolio-button type="submit" color="warn" class="self-center w-[250px]"
    >Change Password</portfolio-button
  >
</form>

<portfolio-loader *ngIf="isLoading"></portfolio-loader>
