<ng-container>
  <mat-spinner *ngIf="isLoading" class="m-auto my-5"></mat-spinner>
  <div *ngIf="error" style="z-index: 10" class="alert alert-warning" role="alert">
    {{ error }}
    <button class="btn btn-primary" type="button" (click)="onClearError()">
      Close
    </button>
  </div>
  <form *ngIf="!isLoading" class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <div class="mb-4">
      <input type="email" placeholder="Email" type="text" formControlName="email" name="email" id="username" />
      <app-error-validation-mesasage [control]="signUpForm.get('email')" name="Email"></app-error-validation-mesasage>
    </div>

    <div class="mb-4">
      <input formControlName="password" type="password" placeholder="Password" name="password" />
      <app-error-validation-mesasage [control]="signUpForm.get('password')" name="Password"></app-error-validation-mesasage>
    </div>

    <br />
    <button type="submit" id="login-button">
      Sign up
    </button>
    
  </form>
  <span class="text-gray-200 mr-2">Do not have an account yet?</span>
  <app-button (clickEvent)="signIn()">Sign In</app-button>
</ng-container>