<portfolio-wrapper-container>
  <div class="container-fluid skill-section">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h2 class="text-center mb-4">Skills</h2>
        <div class="skill-bars mx-auto">
          <ng-container *ngIf="(skills$ | async) as skills">
            <div *ngFor="let skill of skills" class="bar mb-4">
              <div class="info flex-col items-center">
                <figure class="w-20 h-20">
                  <portfolio-glow-img [imgUrl]="skill.logo"></portfolio-glow-img>
                </figure>
                <span class="mb-2">{{ skill.name }}</span>
                <span *ngIf="skill.proficient && skill.knowledge > 80">Proficient</span>
              </div>
              <div class="progress">
                <div class="
                    progress-bar
                    bg-danger
                    progress-bar-striped progress-bar-animated
                  " role="progressbar" [style.width.%]="skill.knowledge">
                  {{ skill.knowledge }}%
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</portfolio-wrapper-container>
<portfolio-loader></portfolio-loader>