<ng-container *ngIf="projects">
  <section class="projects-section pt-4 bg-light" id="projects">
    <h2 class="text-black-50 text-center pb-4">Projects</h2>
    <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-6 col-lg-6">
          <img
            class="img-fluid mb-3 mb-lg-0"
            src="assets/img/bg-masthead.jpg"
            alt="..."
          />
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="text-center">
            <h4>Shoreline</h4>
            <p class="text-black-50 mb-0">
              Grayscale is open source and MIT licensed. This means you can use
              it for any project - even commercial projects! Download it,
              customize it, and publish your website!
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <app-card
          *ngFor="let project of projects"
          [project]="project"
        ></app-card>
      </div>
    </div>
  </section>
</ng-container>
