<section
  class="
    about-section
    text-center
    animate__animated animate__fadeIn animate__slow
  "
  id="about"
>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2
          class="
            text-white
            mb-4
            animate__animated animate__fadeIn animate__delay-2s
          "
        >
          David Duarte
        </h2>
        <p
          class="
            text-white-50
            animate__animated animate__fadeIn animate__delay-2s
          "
        >
          Senior UI Developer with 5+ years of experience in developing
          Web-centric applications using Angular, JavaScript, TypeScript, CSS,
          React, Next.js, Node.JS, Vue.js, TailwindCss, PostCss, Sass etc
        </p>
      </div>
    </div>
    <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
  </div>
</section>
