<mat-sidenav-container *ngIf="auth$ | async as auth" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/', 'dashboard']">Dashboard</a>
      <a *ngIf="auth.user?.role === userRole.Admin" mat-list-item [routerLink]="['/', 'dashboard', 'projects']">Projects</a>
      <a *ngIf="auth.user?.role === userRole.Admin" mat-list-item [routerLink]="['/', 'dashboard', 'skills']">Skills</a>
      <a *ngIf="auth.user?.role === userRole.Admin"  mat-list-item [routerLink]="['/', 'dashboard', 'users']">Users</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button>
      <div class="d-flex justify-content-between w-100">
        <ng-container>
          <span>Welcome {{ auth.user?.displayName }}</span>
        </ng-container>
        <button mat-raised-button color="warn" (click)="onLogOut()">
          logout
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
