<div class="relative isolate bg-gray-950 px-5 lg:overflow-visible py-20">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
          patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>

  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start">

    <div [ngClass]="{'md:-mt-12 lg:col-start-2': !rtl}"
      class="hidden md:block sticky lg:top-4 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-full h-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10" [src]="imgUrl"
        alt="code snippet ">
    </div>

    <div class="flex justify-center">

      <div class="lg:pr-4">
        <h2 class="text-white">{{cateroryTitle}}</h2>
        <div class="max-w-xl">
          <p>
            <ng-content></ng-content>
          </p>
          <ul role="list" class="mt-8 text-gray-600">
            <ng-container *ngFor="let skill of skills">
              <ng-container *ngIf="skill.category === techCategoryEnum">
                <app-tech-skill [skill]="skill"></app-tech-skill>
              </ng-container>
            </ng-container>
          </ul>
        </div>
      </div>

    </div>
    <div
      class="pointer-events-none absolute left-12 top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:bottom-[-12rem] lg:top-auto lg:translate-y-0 lg:transform-gpu"
      aria-hidden="true">
      <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-25"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
  </div>
</div>