<div class="relative isolate bg-gray-950 px-4 md:px-5 lg:overflow-visible py-20">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
          patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>

  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start">

    <div [ngClass]="{'md:-mt-12 lg:col-start-2': !rtl}"
      class="hidden md:block sticky lg:top-4 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-full h-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10" [src]="imgUrl"
        alt="code snippet ">
    </div>

    <div class="flex justify-center">

      <div class="lg:pr-4">
        <h1>{{cateroryTitle}}</h1>
        <div class="max-w-xl">
          <p>
            <ng-content></ng-content>
          </p>
          <ul class="pl-0 md:pl-8" role="list" class="mt-8 text-gray-600">
            <ng-container *ngFor="let skill of skills">
              <ng-container *ngIf="skill.category === techCategoryEnum">
                <portfolio-tech-skill [skill]="skill"></portfolio-tech-skill>
              </ng-container>
            </ng-container>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden ring-1 ring-white/5">
    <div
      class="absolute -left-56 top-[calc(100%-50rem)] transform-gpu blur-3xl lg:left-[max(-14rem,calc(100%-59rem))] lg:top-[calc(50%-7rem)]"
      aria-hidden="true">
      <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-br from-[#ff80b5] to-[#9089fc] opacity-20"
        style="clip-path: polygon(74.1% 56.1%, 100% 38.6%, 97.5% 73.3%, 85.5% 100%, 80.7% 98.2%, 72.5% 67.7%, 60.2% 37.8%, 52.4% 32.2%, 47.5% 41.9%, 45.2% 65.8%, 27.5% 23.5%, 0.1% 35.4%, 17.9% 0.1%, 27.6% 23.5%, 76.1% 2.6%, 74.1% 56.1%)">
      </div>
    </div>
  </div>
</div>