<app-banner>
  <figure class="rounded-2xl py-10">
    <img class="mx-auto h-48 w-48 rounded-full md:h-56 md:w-56" src="assets/img/david_profile.jpg"
      alt="Profile picture">
  </figure>
  <div class="mx-auto text-center">
    <h1>Jesus David Duarte</h1>
    <h2>Software Engineer</h2>
    <p>Highly skilled and innovative Software Engineer
      with a strong background in developing and implementing cutting-edge software solutions.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <app-button (clickEvent)="downloadResumen()">Get Resume Here</app-button>
    </div>
  </div>
</app-banner>
<ng-container *ngFor="let tech of techStack">
  <app-category-tech-skill [skills]="skills" [cateroryTitle]="tech.categoryTitle"
    [techCategoryEnum]="tech.techCategoryEnum" [imgUrl]="tech.imgUrl" [rtl]="tech.rtl">
    {{tech.description}}
  </app-category-tech-skill>
</ng-container>