.notFound__hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  bottom: 10px;
  top: 0;
  background: url('https://media-porfolio.s3.us-east-2.amazonaws.com/images/stars.svg'),
    #1b1b25;
  background-repeat: repeat;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  & p {
    position: relative;
    top: -100px;
  }
}
.notFound__hero img {
  border: none;
  width: 500px;
  height: 500px;
  margin: 0;
}
.container-astro {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.img-astro {
  width: 400px;
  height: 400px;
}
.img-astro img {
  width: 50px;
  height: 80px;
  will-change: width, transform;
  transition: 1s;
  transform-origin: center;
  animation-name: astronauta, mov;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear, linear, ease-in;
  animation-direction: alternate;
  position: relative;
}
@keyframes astronauta {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.5);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  75% {
    transform: rotate(270deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes mov {
  0% {
    left: 300px;
    right: 0px;
    top: 500px;
    bottom: 550px;
  }
  25% {
    left: 300px;
    right: 0px;
    top: 0px;
    bottom: 500px;
  }
  50% {
    left: 1000px;
    right: 500px;
    top: 0px;
    bottom: 500px;
  }
  75% {
    left: 0px;
    right: 500px;
    top: 500px;
    bottom: 0;
  }
  100% {
    left: 1000px;
    top: 0px;
    right: 500px;
    bottom: 0px;
  }
}
.img-astro img:hover {
  transition: 1s;
  width: 100px;
  height: 160px;
}
