<ng-container>
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="signInForm">
    <div>
      <input formControlName="email" type="email" placeholder="Email" />
      <span class="text-danger" *ngIf="!email.valid && email.touched">
        This email is not valid
      </span>
    </div>
    <input formControlName="password" type="password" placeholder="Password" />
    <span *ngIf="!password.valid && password.touched"
      >This password is not valid</span
    >
    <br />
    <button [disabled]="!signInForm.valid" type="submit" id="login-button">
      Sign In
    </button>
  </form>
  <span>Do have an account? </span>
  <button
    id="form-link"
    mat-raised-button
    [disabled]="true"
    [routerLink]="['/', 'dashboard', 'auth', 'register']"
  >
    Sign up
  </button>
</ng-container>
