<ng-container>
  <form class="form" (ngSubmit)="onSubmit($event)">
    <input
      type="text"
      [(ngModel)]="user.email"
      name="email"
      placeholder="Username"
      id="username"
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="user.password"
      placeholder="Password"
      id="password"
    />
    <button type="submit" id="login-button">Sign In</button>
  </form>
  <span>Do have an account? </span>
  <button id="form-link" class="ml-2 text-white" disabled routerLink="register">
    Sign up
  </button>
</ng-container>
