<portfolio-navbar></portfolio-navbar>
<portfolio-wrapper-container>
  <div class="main-container">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="main-container__forms">
      <div class="wrapper">
        <div class="container">
          <h1 class="text-white">Welcome to</h1>
          <h1 class="text-white">the Admin Module</h1>
          <router-outlet></router-outlet>
        </div>
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</portfolio-wrapper-container>
