
      <div class="flip">
        <div class="front" [style.background]="'url(' + project.imageUrl + ')'">
          <h1 class="text-shadow text-center text-dark">{{ project.projectName }}</h1>
        </div>
        <div class="back">
          <h2 class="text-center" >{{ project.title }}</h2>
          <p class="text-center">
            {{ project.description }}
          </p>
          <p class="text-center">
            {{ project.technologies }}
          </p>
          <a class="ms-5" [href]="project.projectUrl">Click here to see the project</a>
        </div>
      </div>


